---
layout: layouts/home.njk
title: Articles
permalink: /articles/
eleventyNavigation:
  key: Articles
  order: 2
---
<section class="container mt-12 mx-auto">
  <h1 class="dark:text-gray-100 font-extrabold text-3xl text-center">Nos articles</h1>

{% set articleslist = collections.articles %}
{% include "articleslist.njk" %}
</section>