---
permalink: /tags/
layout: layouts/home.njk
---

<section class="container mt-12 mx-auto">
    <h1 class="dark:text-gray-100 font-extrabold text-3xl text-center pb-10">Tous les tags</h1>


    {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <div class="inline-block p-2">
            <a alt="tag {{ tag }}" aria-label="tagged frontmatter" href="{{ tagUrl | url }}" class="px-4 py-2 text-sm text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-100 rounded-full hover:text-gray-800 hover:bg-gray-300">{{ tag }}</a>
        </div>

    {% endfor %}
</section>