---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tous les articles pour le tag “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<section class="container mt-12 mx-auto">
<h1 class="dark:text-gray-100 font-extrabold text-3xl text-center">Tous les articles pour le tag “{{ tag }}”</h1>

{% set articleslist = collections[ tag ] %}
{% include "articleslist.njk" %}

<p>Voir <a href="{{ '/tags/' | url }}">tous les tags</a>.</p>

</section>
